<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout}">

  <div layout:fragment="content" class="container my-3">
    <div class="row my-3">
      <div class="col-6">
        <a th:href="@{/question/create}" class="btn btn-primary">질문 등록하기</a>
      </div>
      <div class="col-6">
        <div class="input-group">
          <input th:type="text" id="search_keyword" class="form-control" th:value="${keyword}">
          <button class="btn btn-outline-secondary" type="button" id="btn_search">찾기</button>
        </div>
      </div>
    </div>
    <table class="table table-striped">
      <thead class="table-dark">
        <tr class="text-center">
          <th>번호</th>
          <th style="width:50%">제목</th>
          <th>글쓴이</th>
          <th>작성일</th>
        </tr>
      </thead>
      <tbody>
        <tr class="text-center" th:each="question, loop : ${paging}">
          <td th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"></td>
          <td class="text-start">
            <a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}"></a>
            <span class="badge bg-primary ms-2" th:if="${#lists.size(question.answerList) > 0}"
                  th:text="${#lists.size(question.answerList)}">
            </span>
          </td>
          <td>
            <span th:if="${question.author != null}" th:text="${question.author == null ? '익명' : question.author.username}"></span>
          </td>
          <td th:text="${#temporals.format(question.created, 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
      </tbody>
    </table>
    <!-- 페이징처리 시작 -->
    <div th:if="${!paging.isEmpty()}">
      <ul class="pagination justify-content-center">
        <!-- 맨 처음 -->
        <li class="page-item" th:classappend="${paging.number == 0} ? 'disabled'">
          <a class="page-link"
             href="javascript:void(0)"
             th:data-page="0">
            <span>처음</span>
          </a>
        </li>
        <!-- 이전 -->
        <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
          <a class="page-link"
             href="javascript:void(0)"
             th:data-page="${paging.number-1}">
            <span>이전</span>
          </a>
        </li>
        <!-- 페이지 번호 -->
        <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
            th:if="${page >= paging.number-5 and page <= paging.number+5}"
            th:classappend="${page == paging.number} ? 'active'" class="page-item">
          <a th:text="${page}"
             class="page-link"
             href="javascript:void(0)"
             th:data-page="${page}">
          </a>
        </li>
        <!-- 다음 -->
        <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
          <a class="page-link"
             href="javascript:void(0)"
             th:data-page="${paging.number+1}">
            <span>다음</span>
          </a>
        </li>
        <!-- 맨 끝 -->
        <li class="page-item" th:classappend="${paging.number == paging.totalPages-1} ? 'disabled'">
          <a class="page-link"
             href="javascript:void(0)"
             th:data-page="${paging.totalPages-1}">
            <span>마지막</span>
          </a>
        </li>
      </ul>
    </div>
    <!-- 페이징처리 끝 -->
    <form th:action="@{/question/list}" method="get" id="searchForm">
      <input type="hidden" id="keyword" name="keyword" th:value="${keyword}">
      <input type="hidden" id="page" name="page" th:value="${paging.number}">
    </form>
  </div>

  <script layout:fragment="script" type='text/javascript'>
      const page_elements = document.getElementsByClassName("page-link");
      Array.from(page_elements).forEach(function (element) {
          element.addEventListener('click', function () {
              document.getElementById('page').value = this.dataset.page;
              document.getElementById('searchForm').submit();
          });
      });

      $("#btn_search").on("click", function () {
          $("#keyword").val($("#search_keyword").val());
          $("#page").val(0); // 검색버튼 클릭 시 0페이지부터 조회
          $("#searchForm").submit();
      });

      $("#search_keyword").on("keydown", function (e) {
          if (e.key === "Enter") {
              e.preventDefault(); // 폼 자동 제출 방지
              $("#btn_search").click(); // 찾기 버튼 클릭과 동일 동작
          }
      });
  </script>
</html>